html {
     overflow-y: scroll;
}

body {
     background-color: #44B4C6;
     color: #919191;
}

body.boxed {
     background-color: #000000;
     color: #919191;
}

.justify {
     text-align: justify;
}

.bold {
     font-weight: bold;
}

.center {
     text-align: center;
}

.right {
     text-align: right;
}

.uppercase {
     text-transform: uppercase;
}

.hidden {
     display: none;
}

.clear {
     clear: both;
     display: block;
}

.clear:after {
     clear: both;
     content: "";
     display: block;
     font-size: 0px;
     height: 0px;
     visibility: hidden;
}

a {
     color: #FF9900;
     outline: medium none;
     text-decoration: none;
}

.fl_left {
     float: left;
}

.fl_right {
     float: right;
}

img {
     border: medium none;
     height: auto;
     line-height: normal;
     margin: 0px;
     max-width: 100%;
     padding: 0px;
     vertical-align: middle;
     width: auto;
}

.boxholder {
     border: 1px solid #D6D6D6;
     padding: 9px;
}

.imgl {
     clear: left;
     float: left;
     margin: 0px 15px 10px 0px;
}

.imgr {
     clear: right;
     float: right;
     margin: 0px 0px 10px 15px;
}

address, article, aside, figcaption, figure, footer, header, hgroup, nav, section {
     display: block;
     margin: 0px;
     padding: 0px;
}

.video {
     display: block;
     height: 0px;
     margin: 0px;
     padding: 0px 0px 56.25%;
     position: relative;
     width: 100%;
}

.video iframe {
     display: block;
     height: 100%;
     margin: 0px;
     padding: 0px;
     position: absolute;
     width: 100%;
}

div.wrapper, .wrapper100 {
     display: block;
     margin: 0px;
     padding: 0px;
     text-align: left;
     width: 100%;
     word-wrap: break-word;
}

.row1, .row1 a {     
     color: #000000;
}

.row2 {
     _background-color: #232323;
     _color: #919191;
}

.row3 {
     background-color: #FFFFFF;
     color: #666666;
     min-height: 400px;
}

.row4, .row4 a {
     background-color: #232323;
     color: #919191;
}

.row5 {
     background-color: #FFFFFF;
     border-bottom: 1px solid #E5E4E3;
     color: #666666;
}

body {
     font-family: Verdana,Arial,Helvetica,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
     /*font-family: "CaviarDreamsBold",Arial,Helvetica,sans-serif;*/
     font-family: Verdana,Arial,Helvetica,sans-serif;         
     font-weight: normal;
     line-height: normal;
     
     Ftext-transform: capitalize;
}
h1{
    font-size: 1.3em;
    margin: 0px 0px 10px;
}
h2{
    font-size: 1.2em;
    margin: 0px 0px 8px;
}
h3{
    font-size: 1.1em;
    margin: 0px 0px 6px;
}
h4{
    font-size: 1.0em;
    margin: 0px 0px 4px;
}
h5{
    font-size: 0.9em;
    margin: 0px 0px 4px;
}
h6{
    font-size: 0.85em;
    margin: 0px 0px 4px;
}
address {
     font-style: normal;
     margin: 10px 0px;
}

nav ul {
     list-style: none outside none;
     margin: 0px;
     padding: 0px;
}

#header, #topnav, #intro, #container, #footer, #copyright {
     margin: 0px auto;
}

#header {
      padding:0px 0px 10px 0px;
      background-color:#fff;
}

#header hgroup {
     clear: right;
     display: block;
     float: left;
     width: auto;
}

#header hgroup h1, #header hgroup h2 {
     font-weight: normal;
     margin: 0px;
     text-transform: none;
}

#header hgroup h1 {
     font-size: 2em;
}

#header hgroup h2 {
     font-size: 1em;
}

#header #header-contact {
     clear: right;
     display: block;
     float: right;
     width: auto;
}

#header #header-contact ul {
     margin-top: 15px;
}

#header #header-contact li {
     border-left: 1px solid #C0BAB6;
     display: inline;
     margin: 0px 0px 0px 15px;
     padding: 0px 0px 0px 15px;
}

#header #header-contact li:first-child {
     border: medium none;
     margin: 0px;
     padding: 0px;
}

#topboxheader h1{
    font-family: "CaviarDreamsBold",Arial,Helvetica,sans-serif;
    color:#F7941E;
    font-weight:bold;
}
#topboxheader p{
    font-family: "FontAwesome",Arial,Helvetica,sans-serif;
    font-style:italic;
}

#container {
     clear: both;
     font-size: 1em;
     line-height: 1.4em;
     padding: 0px;
}

#container section {
     margin-bottom: 50px;
}

#container section.last {
     margin-bottom: 0px;
}

.emphasise, #container .emphasise {
     font-size: 2.8em;
     line-height: 1.4em;
}

.font-small, #container .font-small {
     font-size: 1em;
}

.font-medium, #container .font-medium {
     font-size: 1.2em;
}

.font-large, #container .font-large {
     font-size: 1.4em;
}

.font-xl, #container .xl-large {
     font-size: 4em;
     line-height: 1.2em;
}

.font-xxl, #container .xxl-large {
     font-size: 6em;
     font-weight: normal;
     line-height: 1.2em;
}

.sidebar aside {
     line-height: 1.2em;
}

.sidebar aside h2 {
     border-bottom: 5px solid #E8E8E8;
     font-size: 1.4em;
     margin-bottom: 10px;
     padding-bottom: 8px;
}

.sidebar aside ul.nospace li {
     margin-top: 20px;
}

#footer {
     padding: 5px;
     background-color: #FFF200;
     color:#000;
     margin:0px 6px 0px 3px;
}

#footer .footer_title {
     border-bottom: 1px solid #919191;
     font-size: 1.2em;
     margin-bottom: 40px;
     padding-bottom: 10px;
}

#footer div {
     margin-bottom: 0px;
}

#footer .tweet-container li {
     border-top: 1px solid #333333;
     margin-top: 18px;
     padding-top: 18px;
}

#footer .tweet-container li:first-child {
     border-top: medium none;
     margin-top: 0px;
     padding-top: 0px;
}

#footer .tweet-container li .tweet_time {
     font-size: 0.8em;
}

#footer #ft_gallery.spacing li {
     margin-bottom: 15px;
}

#footer form label {
     display: block;
     margin: 0px 0px 18px;
     width: 100%;
}

#footer form label input {
     margin-top: 5px;
}

#footer form label input, #footer form textarea {
     background-color: #333333;
     border-color: #666666;
     color: #FFFFFF;
}

#footer form textarea {
     height: 120px;
}

#licbox{background-color:transparent; color:#333;}

#copyright {  
     font-size: 0.85em;
     padding:2px 0px 20px 1%;
}

#copyright p {
     margin: 0px;
     padding: 0px;
}


#copyright a{
background-color:transparent;
  color:#333;
}

#topnav {
     background-color: #232323;
     clear: both;
     color: #C0BAB6;
     padding: 0px;
     white-space: nowrap;
     word-wrap: normal;

}

#topnav #menyn ul {
     font-size: 0.857142em;
     list-style: none outside none;
     margin: 0px;
     padding: 0px;
     text-transform: uppercase;
}

#topnav #menyn ul ul {
     position: absolute;
     text-transform: none;
     width: 190px;
     z-index: 9999;
     font-size:1.0em;
}

#topnav #menyn ul ul ul, #topnav #menyn ul ul ul ul {
     left: 190px;
     top: 0px;
     font-size:1.0em;
}

#topnav #menyn ul:first-child li:last-child > ul {
     right: 0px;
}

#topnav  #menyn ul:first-child > li:last-child li > ul {
     left: -190px;
}

#topnav #menyn li {
     display: block;
     float: left;
     margin: 0px 0.5% 0px 0.5%;
     padding: 0px;
     position: relative;
}
#topnav #menyn ul li:hover > a {
     background-color: #FFF200;
     color: #000;
}
#topnav #menyn ul li.active{
     background-color: #FFF200;
     color: #000;
}

#topnav #menyn li:first-child {
    
}

#topnav #menyn ul:first-child li:last-child {
     margin-right: 0px;
}

#topnav #menyn li li {
     margin: 0px;
     width: 100%;
}

#topnav #menyn li a {
     display: block;
     padding: 16px 5px;
     overflow:hidden;
}

#topnav #menyn li li a {
     display: block;
     margin: 0px;
     padding: 10px 15px;
     overflow:hidden;
}

#topnav #menyn ul ul {
     display: none;
}

#topnav #menyn ul li:hover > ul {
     display: block;
}

#topnav #menyn a {
     background-color: #232323;
     color: #C0BAB6;
     font-weight: bold;
}

#topnav #menyn li li a, #topnav #menyn li.active li a {
     background: none repeat scroll 0% 0% #000000;
     color: #FFFFFF;
     font-weight: normal;
}

#topnav #menyn li.active a, #topnav #menyn a:hover {
     background-color: #FFF200;
     color: #000;
}

#topnav #menyn ul li li:hover > a {
     background-color: #FFF200;
     color: #000;
}

#topnav #menyn li a.drop, #topnav #menyn li.active a.drop {
     background-image: url("images/dropdown_side.gif");
     background-position: 5px center;
     background-repeat: no-repeat;
     padding-left: 15px;
}

#topnav #menyn form {
     display: block;
     height: 30px;
     margin: 0px auto;
     padding: 20px 0px;
}

#topnav #menyn form select {
     background-color: #232323;
     border: 1px solid #494949;
     color: #FFFFFF;
     cursor: pointer;
     display: block;
     outline: medium none;
     padding: 8px;
     width: 100%;
}

#topnav #menyn form select option {
     border: medium none;
     cursor: pointer;
     display: block;
     margin: 10px;
     outline: medium none;
     padding: 0px;
}

.sidebar aside nav {
     display: block;
     margin-bottom: 30px;
     width: 100%;
}

.sidebar aside nav ul {
     list-style: none outside none;
     margin: 0px;
     padding: 0px;
}

.sidebar aside nav li {
     margin: 0px 0px 3px;
     padding: 0px;
}

.sidebar aside nav a {
     background: url("images/orange_file.gif") no-repeat scroll 10px center transparent;
     border-bottom: 1px dotted #666666;
     color: #666666;
     display: block;
     margin: 0px;
     padding: 5px 10px 5px 20px;
     text-decoration: none;
}

.sidebar aside nav a:hover {
     background-color: inherit;
     color: #FF9900;
}

.sidebar aside nav ul ul a {
     background: url("images/black_file.gif") no-repeat scroll 0% 0% transparent;
}

.sidebar aside nav ul ul a {
     background-position: 30px center;
     padding-left: 40px;
}

.sidebar aside nav ul ul ul a {
     background-position: 40px center;
     padding-left: 50px;
}

.sidebar aside nav ul ul ul ul a {
     background-position: 50px center;
     padding-left: 60px;
}

.sidebar aside nav ul ul ul ul ul a {
     background-position: 60px center;
     padding-left: 70px;
}

.pagination {
     clear: both;
     display: block;
     line-height: normal;
     text-align: center;
     width: 100%;
}

.pagination ul {
     list-style: none outside none;
     margin: 0px;
     padding: 0px;
}

.pagination li {
     display: inline;
}

.pagination strong {
     font-weight: normal;
}

.pagination .next {
     margin: 0px;
}

.pagination a, .pagination .current strong, .pagination .splitter strong {
     display: inline-block;
     margin: 1px 2px;
     padding: 5px 10px;
}

.pagination a:first-child {
     margin-left: 0px;
}

.pagination a {
     border: 1px solid #DFDFDF;
}

.footer_nav {
     margin: 0px;
     padding: 0px;
}

.footer_nav ul li {
     border-top: 1px solid #333333;
     margin-top: 12px;
     padding-top: 12px;
}

.footer_nav ul li:first-child {
     border-top: medium none;
     margin-top: 0px;
     padding-top: 0px;
}

.registerGroup, .loginGroup {
     float: right;
     margin-left: 10px;
     margin-top: 0px;
}

.registerGroup {
     display: none;
}

.bgrgb_brun
{
    background-color:#A28E5C;
    color:#fff;
}
.bgrgb_gron
{
    background-color:#8DC641;
    color:#000;
}	
.bgrgb_ljusgra
{
    background-color:#E6E7E8;
    color:#000;
}
.bgrgb_morkgra
{
    background-color:#373535;
    color:#fff;
}
.bgrgb_bla1
{
    background-color:#27AAE1;
    color:#fff;
}
.bgrgb_bla2
{
    background-color:#0EAFDD;
    color:#000;
}
.bgrgb_orange
{
    background-color:#F7941E;
    color:#fff;
}
.bgrgb_lila
{
    background-color:#6B6BB1;
    color:#fff;
}
.bgrgb_rosa
{
    background-color: #C23177;
    color:#fff;
}
.bgrgb_ljusrosa
{
    background-color: #EFBBBB;
    color:#000;
}
.bgrgb_gul
{
    background-color: #FFF200;
    color:#000;
}



