@-ms-viewport{width:device-width;} /* http://msdn.microsoft.com/en-gb/library/ie/hh869615%28v=vs.85%29.aspx */
/* ---- isotope ---- Global */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { font-size: 14px;}
 #maincontainer{
    padding:0px 0.4% 0.7% 0.7%;
  	background-color:#fff;
}

  .isotope
    {
        background: #fff;
        max-width: 100%;
        margin-top: 10px;
    }

        /* clear fix */
        .isotope:after
        {
            content: '';
            display: block;
            clear: both;
        }

    /* ---- .item ---- */



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */ 
body{    
        
        background-color:#ffd800;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

   

}

@media only screen and (min-width : 680px){
 
     body{    
         margin: 0px;
        padding: 0px;
        margin: 0px auto;
        padding: 0 1.15em;
        max-width: 64.857em;      /* 908px / 14px = 64.857em */
        background-color:#ffd800;
    }

    #logon{
        z-index:9999;
        padding-left:2.7%; /* 3.57%*/
        margin-right:81.16%;     
        height:80px;
    }
    #menyn ul{
        width:80.16%;
        float:right;       
    }

    #topnav li a {       
        padding-bottom: 14px;
        padding-left: 4.5%;
        padding-right: 4.5%;
        padding-top: 14px;
    }
    #topnav form{
        display:none;
    }
    .item{
        float: left;
        width: 24.2914%;
        height: 470px;
        margin: 0px 3px;
        margin-bottom: 6px;
        /*border: 2px solid #333;
      border-color: hsla(0, 0%, 0%, 0.7);*/
        overflow: hidden;
    }

    .item h1, .item p
    {
        padding: 2px 10px;
    }

    /* 2 cols + 1 gutter = 100 + 20 + 100 */
    .item.width1
    {
        width: 24.2914%;
    }
    /*968/4 = 242-10= 232/968= 23.9669% */
    .item.width2
    {
        width: 49.2951%;
    }
    /*968/2 = 494-10= 484/988= 48.9878% */
    .item.height1
    {
        height: 232px;
    }

    .item.height2
    {
        height: 473px;
    }
        

}

/* Desktops and laptops ----------- (body 988px */
@media only screen and (min-width : 908px)
{


    body
    {
        margin: 0px;
        padding: 0px;
        margin: 0px auto;
        padding: 0 1.15em;
        max-width: 72.857em; /* 988px / 14px = 70.571em */
        background-color: #ccc;
    }

    #logon
    {
        z-index: 9999;
        padding-left: 2.7%; /* 3.57%*/
        margin-right: 80.66%;
        height: 100px;
    }

    #menyn ul
    {
        width: 80.66%;
        float: right;
        margin-left: 19.33%;
    }

    #topnav
    {
        margin-left: 3px;
        margin-right: 0.5%;
    }

    #topnav li a
    {
        padding-bottom: 16px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 16px;
    }

    #topnav form
    {
        display: none;
    }

    #containern
    {
        margin: 0px auto;
        padding: 0 1.15em;
        max-width: 988px;
    }

   
    .item
    {
        float: left;
        width: 24.2914%;
        height: 470px;
        margin: 0px 3px;
        margin-bottom: 6px;
        /*border: 2px solid #333;
      border-color: hsla(0, 0%, 0%, 0.7);*/
        overflow: hidden;
    }

        .item h1, .item p
        {
            padding: 2px 10px;
        }

        /* 2 cols + 1 gutter = 100 + 20 + 100 */
        .item.width1
        {
            width: 24.2914%;
        }
        /*968/4 = 242-10= 232/968= 23.9669% */
        .item.width2
        {
            width: 49.2951%;
        }
        /*968/2 = 494-10= 484/988= 48.9878% */
        .item.height1
        {
            height: 232px;
        }

        .item.height2
        {
            height: 473px;
        }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}