@-ms-viewport{width:device-width;} /* http://msdn.microsoft.com/en-gb/library/ie/hh869615%28v=vs.85%29.aspx */
/* ---- isotope ---- Global */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { font-size: 14px;}
     #maincontainer{
        padding:0px 0.4% 0.7% 0.7%;
  	    background-color:#fff;
    }
    #topboxheader{
        float:right;
        max-width:80.16%;
    }
  .isotope
    {
        background: #fff;
        max-width: 100%;
        margin-top: 10px;
    }

        /* clear fix */
        .isotope:after
        {
            content: '';
            display: block;
            clear: both;
        }

    /* ---- .item ---- */

 #flexmenu {
		display:none;
	}	
	.slicknav_menu {
		display:none;
	}
    #menyn{
        display:none;
    }

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */ 
body{    
        
        background-color:#ffd800;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

   

}

@media only screen and (min-width : 280px)and (max-width : 579px){
 
     body{    
         margin: 0px;
        padding: 0px;
        margin: 0px auto;
        padding: 0 0.1em;
        max-width: 64.857em;      /* 908px / 14px = 64.857em */       
        background-color:#f495f5;
    }

    #logon{
        z-index:9999;
        padding-left:2.7%; /* 3.57%*/
        margin-right:81.16%;     
        height:10px;
        max-height:20px;
    }
    #menyn ul{
        width:80.16%;
        float:right;       
    }
    #topnav{
        margin-left: 0px;
        margin-right: 0%;
      font-size:0.96em;
    }
    
    #flexmenu {
		display:none;
	}	
	.slicknav_menu {
		display:block;
	}
    #menyn{
        display:none;
    }
    .item{
        float: left;
        width: 100%;
        height: auto;
        margin: 0px ;
        margin-bottom: 4px;     
        overflow-y:auto;
        font-size:0.85em;
    }
    .item h1, .item p{
        padding: 2px 4px;
    }
    .item img { 
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}




@media only screen and (min-width : 580px){
 
    body{    
         margin: 0px;
        padding: 0px;
        margin: 0px auto;
        padding: 0 0.25em;
        max-width: 64.857em;      /* 908px / 14px = 64.857em */       
        background-color:#0094ff;
    }
    #header
    {
        padding-bottom:0px;
    }
    #logon{
        z-index:9999;
        padding-left:2.7%; /* 3.57%*/
        margin-right:81.16%;     
        height:80px;
    }
    #menyn ul{
        width:80.16%;
        float:right;       
    }
    #topnav{
        margin-left: 3px;
        margin-right: 0.5%;
      font-size:0.96em;
    }
    
    #flexmenu {
		display:none;
	}	
	.slicknav_menu {
		display:block;
	}
    #menyn{
        display:none;
    }
    .item{
        float: left;
        width: 48.84%;
        height: 330px;
        margin: 0px 3px;
        margin-bottom: 6px;     
        overflow-y:auto;
        font-size:0.85em;
    }
    .item h1, .item p{
        padding: 2px 10px;
    }
    /* 2 cols + 1 gutter = 100 + 20 + 100 */
    .item.width1{
         width: 48.84%;
    }
    /*968/4 = 242-10= 232/968= 23.9669% */
    .item.width2{
        width: 48.84%;
    }
    /*3/4 spalter */
    .item.width3{
        width: 98.4371%;
    }
    /*968/2 = 494-10= 484/988= 48.9878% */
    .item.height1{
        height: 162px;
    }
    .item.height2{
        height: 330px;
    }
    .item.height3{
        height: 630px;
    }
    .item img {    
        max-height:50%;
        height: auto;    
        max-width: 100%;    
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .item img.kategoriimg{
       max-height:100%;
    }

   
}


@media only screen and (min-width : 760px){
 
     body{    
         margin: 0px;
        padding: 0px;
        margin: 0px auto;
        padding: 0 0.55em;
        max-width: 64.857em;      /* 908px / 14px = 64.857em */       
        background-color:#ffd800;
    }

    #logon{
        z-index:9999;
        padding-left:2.7%; /* 3.57%*/
        margin-right:81.16%;     
        height:80px;
    }
    #flexmenu {
		display:block;
	}	
	.slicknav_menu {
		display:none;
	}
    #topnav form{
        display:none;
    }
    #menyn{
        display:block;
      }
    #menyn ul{
        width:80.16%;
        float:right;       
    }
    #topnav{
        margin-left: 3px;
        margin-right: 0.5%;
      font-size:0.96em;
    }
    #topnav #menyn li{
        margin-left:0.3%;
        margin-right:0.5%;
    }
    #topnav #menyn li a {       
        padding-bottom: 14px;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 14px;
    }      
    .item{
        float: left;
        width: 24.0869%;
        height: 430px;
        margin: 0px 3px;
        margin-bottom: 6px;     
        overflow-y:auto;
        font-size:0.85em;
    }
    .item h1, .item p{
        padding: 2px 10px;
    }
    /* 2 cols + 1 gutter = 100 + 20 + 100 */
    .item.width1{
        width: 24.0869%;
    }
    /*968/4 = 242-10= 232/968= 23.9669% */
    .item.width2{
        width: 48.94%;
    }
     /*3/4 spalter */
    .item.width3{
        width: 74.2478%;
    }
    /*968/2 = 494-10= 484/988= 48.9878% */
    .item.height1{
        height: 212px;
    }
    .item.height2{
        height: 430px;
    }   
    .item.height3{
        height: 830px;
    }
   
    .item img {    
        max-height:100%;
        height: auto;    
        max-width: 100%;    
        width: auto;
    } 
}

/* Desktops and laptops ----------- (body 988px */
@media only screen and (min-width : 908px)
{
    body{
        margin: 0px;
        padding: 0px;
        margin: 0px auto;
        padding: 0 1.15em;
        max-width: 72.857em; /* 988px / 14px = 70.571em */
        background-color: #ccc;
    }

    #logon{
        z-index: 9999;
        padding-left: 2.7%; /* 3.57%*/
        margin-right: 80.66%;
        height: 100px;
    }
    
	#flexmenu {
		display:block;
	}	
	.slicknav_menu {
		display:none;
	}
    #menyn{
        display:block;  
    }

    #menyn ul{
        width: 80.66%;
        float: right;
        margin-left: 19.33%;
    }

    #topnav{
        margin-left: 3px;
        margin-right: 0.5%;
        
    }

    #topnav #menyn li a{
        padding-bottom: 16px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 16px;
    }

    #topnav #menyn form{
        display: none;
    }

    #containern{
        margin: 0px auto;
        padding: 0 1.15em;
        max-width: 988px;
    }
       
    .item{
        float: left;
        width: 24.2914%;
        height: 470px;
        margin: 0px 3px;
        margin-bottom: 6px;      
        overflow: hidden;
        
    }

    .item h1, .item p{
        padding: 2px 10px;
    }

    /* 2 cols + 1 gutter = 100 + 20 + 100 */
    .item.width1{
        width: 24.2914%;
    }
    /*968/4 = 242-10= 232/968= 23.9669% */
    .item.width2{
        width: 49.2939%;
    }
    /*3/4 spalter */
    .item.width3{
       width: 74.2978%;
    }
    /*968/2 = 494-10= 484/988= 48.9878% */
    .item.height1{
        height: 232px;
    }

    .item.height2{
        height: 464px;
    }
    .item.height3{
        height: 864px;
    }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}